<div class="modal-backdrop"></div>
<div class="modal-holder" autoscroll="false">

  <div class="modal-box">

    <ul class="nav nav-tabs">
      <li role="presentation" ui-sref-active="active"><a href ui-sref="modal.upload">Upload</a></li>
      <li role="presentation" ui-sref-active="active"><a href ui-sref="modal.browse({person: 'all'})">Site Files</a></li>
      <li role="presentation" ui-sref-active="active"><a href ui-sref="modal.flickr">Flickr</a></li>
    </ul>
    
    <div ui-view></div>
  </div>

</div>
